@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif;
}

h1 {
font-style: normal;
font-weight: 300;
font-size: 32px;
line-height: 40px;
letter-spacing: -0.5px;
color: #FFFFFF;
}

.App {
  color: black;
  background-color: #10141E;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  
}

.main {
  margin-left: 200px;
  margin-top: 150px;
}

/* Navbar */

.navbar {
  width: 96px;
  margin: 20px;
  height: 95%;
  border-radius: 15px;
  position: fixed;
  background-color: #161D2F;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.top {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.categories {
  display: flex;
  justify-content: center; 
}

.category-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.logo {
  padding: 20px;
}

.profile {
  padding: 20px;
}

#pfp {
  border: 2px solid white;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

/* Search */

.search {
position: fixed;
width: 381px;
height: 32px;
left: 164px;
top: 64px;
}

.search-icon {
  position: absolute;
width: 32px;
height: 32px;
left: 0px;
top: 0px;
}

.searchbar {
position: absolute;
height: 30px;
left: 14.7%;
right: 1.05%;
top: calc(50% - 30px/2);
}

.searchbar:focus {
 
  outline: none;
}

/* Trending */

.bookmark:hover {
  cursor: pointer;
}

.trending-card {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.trending-card:hover, .trending-card:focus, .trending-card:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  cursor: pointer;
}

.info {
  cursor: auto;
}